.Orçamento {
  height: 1080px;
  width: 1440px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-image: url("../../assets/orçamento.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
