.Orçamento {
  height: 1080px;
  width: 1440px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-image: url("../../assets/orçamento.png");
  background-size: cover; /* Garante que a imagem cubra toda a área */
  background-position: center; /* Centraliza a imagem no background */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  position: relative; /* Garante que os elementos internos fiquem sobre o background */
  z-index: 1;
}
