.Home {
  height: 810px;
  width: 1440px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: linear-gradient(to bottom, rgb(20, 20, 20), rgb(15, 15, 15));
}

.title {
  margin: 0;
  font-size: 72px;
  color: white;
}

.title {
  margin-top: 112px;
}

.logo {
  width: 350px;
  height: 350px;
}
